.app-xyz {
  width: 100%;
	font-family: Georgia, serif;
	background: none;
	color: black;

  .id {
    float: right;
  }
  .paint-batch {
    clear: left;

    th {
      text-align: left;
    }
  }
  .line-items {
    width: 100%;
    border-collapse: collapse;

    th:not(.spacing), td {
      border: 1px solid black;
      padding: .3em .2em;
    }
  }
  .nobr {
    white-space: nowrap;
  }
}
