<div class="app">
  <header>
    <h1>Example App</h1>
  </header>
  <main>
    <h2>xyz Form</h2>
    <section class="editor">
      <p>Make sure you double-check your knobs before you print!</p>
      <img src="https://ak1.ostkcdn.com//images/products/is/images/direct/1f8edc5cb35b85e158256f88462c0f3c5ee41630/Poster-Print-entitled-Airplane-cockpit-control-panel.jpg" alt="Your actual editor" />
    </section>
    <section class="print-ok print-only">
      <app-xyz
        [BatchNumber]=data.BatchNumber
        [BarCode]=data.BarCode
        [CONFIGID]=data.CONFIGID
        [PowderID]=data.PowderID
        [StepNumber]=data.StepNumber
        [lineItems]=data.lineItems
      ></app-xyz>
    </section>
    <section class="printButton">
      <button (click)="print()">Print</button>
    </section>
  </main>
  <footer>
    <section class="links">
      <ul>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
    </section>
    <section class="print-ok"><a href="https://wtv.ca/©">©2021</a></section>
  </footer>
</div>
